# Supabase
VITE_SUPABASE_URL=https://qtlcsylzenqlpkqojkon.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mdE70dvCDgBUria3WNA5Wg_mkzPmN6y

# Uyumsoft (Backend tarafında kullanılır - frontend'e koyma!)
UYUMSOFT_USERNAME=Uyumsoft
UYUMSOFT_PASSWORD=Uyumsoft
UYUMSOFT_WSDL=https://efatura-test.uyumsoft.com.tr/Services/Integration?wsdl
